@charset "UTF-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td {
	margin: 0;
	padding: 0
}
body, button, input, select, textarea {
	font: 14px/1.5 "Microsoft YaHei", "微软雅黑", "Lantinghei SC", Helvetica, Tahoma, Arial, sans-serif, SimSun, "Hiragino Sans GB", "Hiragino Sans GB"
}
h1 {
	font-size: 18px
}
h2 {
	font-size: 16px
}
h3 {
	font-size: 14px
}
h4, h5, h6 {
	font-size: 100%
}
address, cite, dfn, em, var {
	font-style: normal
}
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace
}
small {
	font-size: 12px
}
ul, ol {
	list-style: none
}
abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help
}
q:before, q:after {
	content: ''
}
legend {
	color: #000
}
fieldset, img {
	border: 0
}
button, input, select, textarea {
	font-size: 100%
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	border: 0;
	height: 1px
}
.pi {
	position: fixed
}
.pr {
	position: relative
}
.pa {
	position: absolute
}
.tl {
	text-align: left
}
.tc {
	text-align: center
}
.tr {
	text-align: right
}
.fwb {
	font-weight: 700
}
.fwn {
	font-weight: 400
}
.oh {
	overflow: hidden
}
.dn {
	display: none
}
.db {
	display: block
}
.d-ib {
	display: inline-block
}
.fl {
	float: left
}
.fr {
	float: right
}
.td-line {
	text-decoration: underline
}
@for $i from 1 to 7 {
	.ml#{$i*5}{
		margin-left: #{$i*5}px;
	}
	.mb#{$i*5}{
		margin-bottom: #{$i*5}px;
	}
	.mr#{$i*5}{
		margin-right: #{$i*5}px;
	}
	.mt#{$i*5}{
		margin-top: #{$i*5}px;
	}
}

@for $i from 0 to 5 {
	.pl#{$i*5}{
		padding-left: #{$i*5}px;
	}
	.pb#{$i*5}{
		padding-bottom: #{$i*5}px;
	}
	.pr#{$i*5}{
		padding-right: #{$i*5}px;
	}
	.pt#{$i*5}{
		padding-top: #{$i*5}px;
	}
}
@for $i from 6 to 16 {
	.f#{$i*2}{
		font-size: #{$i*2}px
	}
}

a.a-block {
	display: block;
	width: 100%;
	height: 100%
}
a.a-inline-block {
	display: block
}
a {
	color: #333
}
a, a:hover, a:focus {
	text-decoration: none
}
.bgf9 {
	background-color: #f9f9f9
}
.bg-white {
	background-color: #fff
}
.c-666, a.c-666 {
	color: #666
}
.c-999, a.c-999 {
	color: #999
}
.c-333, a.c-333 {
	color: #333
}
.c-fff, a.c-fff {
	color: #fff
}
.c-f00, a.c-f00 {
	color: red
}
.c-blue, a.c-blue {
	color: #58aff6
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
@for $i from 0 through 10 {
	.op#{$i}{
		opacity: $i/10;
		filter: alpha(opacity=$i*10)
	}
}

$br-list: 3 5 6 8 10 15;
@each $br in $br-list {
	.br#{$br} {
		-moz-border-radius: #{$br}px;
		-webkit-border-radius: #{$br}px;
		border-radius: #{$br}px;
	}
}

.br-50 {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(AmaticSC-Bold.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url(AmaticSC-Bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}
.f-yahei {
	font-family: Microsoft YaHei
}
.f-as {
	font-family: Amatic SC, cursive
}