@mixin translateY($num){
	-webkit-transform: translateY($num);
	-ms-transform: translateY($num);
	-o-transform: translateY($num);
	transform: translateY($num);
}
@mixin rotate($num){
	-webkit-transform: rotate($num);
	-moz-transform: rotate($num);
	-ms-transform: rotate($num);
	-o-transform: rotate($num);
	transform: rotate($num);
}
@mixin transition($times){
	-webkit-transition: all $times ease-in;
	-moz-transition: all $times ease-in;
	-ms-transition: all $times ease-in;
	-o-transition: all $times ease-in;
	transition: all $times ease-in;
}

.index-main {
	position: absolute;
	top: 50%;
	@include translateY(-50%);
	width: 100%;
	.title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 85px;
		font-size: 70px\0;
		color: #7da755;
		line-height: 88px;
		letter-spacing: .05px;
		margin-bottom: 4px;
	}
	.sub-title {
		font-weight: 100;
		font-size: 21px;
		color: #5f6060;
		letter-spacing: 2px;
		a {
			font-weight: 100;
		    font-size: 20px;
		    color: #5f6060;
		    letter-spacing: 2px;
		    font-family: Amatic SC, cursive;
		}
	}
	.container {
		margin-top: 100px;
		.each-col {
			text-align: center;
			margin-bottom: 15px;
			.img {
				width: 125px;
				height: 125px;
				margin: 0 auto;
				&.user-photo {
					border-radius: 50%;
					@include transition(0.8s);
					&:hover {
						@include rotate(360deg);
					}
				}
			}
			.desc {
				margin-top: 25px;
				a {
					font-weight: 100;
					font-size: 21px;
					color: #5f6060;
					letter-spacing: 2px;
					text-decoration: none;
				}
			}
		}
	}

}



@media screen and (max-width:768px) {
	.index-main {
		position: absolute;
		top: 80px;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		padding-bottom: 80px;
		.title {
			font-size: 28px;
		}
		.sub-title {
			font-size: 18px;
		}
		.container {
			margin-top: 50px;
			.each-col {
				.img {
					width: 80px;
					height: 80px;
				}
				.desc a {
					font-size: 16px;
				}
			}
		}
	}
}
@media screen and (max-width:640px) {
	.title {
		font-size: 20px;
		font-family: "microsoft yahei";
	}
	.sub-title {
		font-size: 12px;
		font-family: "microsoft yahei";
		line-height: 25px;
	}
}
